<section class="12u$">
    <h2>Editing {{ article.title }}</h2>
    <form class="edit" novalidate>
        <textarea class="form-control" cols="100" rows="10" ng-model="article.body"></textarea>
        <br/>
        Permission
        <select class="form-control" ng-model="article.permission">
            <option value="private">Private</option>
            <option value="public">Public</option>
            <option value="registered">Registered</option>
        </select>
        <br>
        Edit summary
        <input class="form-control" type="text" ng-model="article.summary">
        <br>
        <button class="btn btn-primary" ng-click="update(article)">Submit</button>
        <button class="btn" ng-click="getPreview(article)">Preview</button>
        <button class="btn pull-right" ng-if="article.body" ng-click="viewArticle()">Back</button>
    </form>
    <div ng-if="preview">
        Preview:
        <div class="preview-box" ng-bind-html="preview"></div>
    </div>
</section>
<br>

