<section class="12u$">
    <h2>{{ article.title }}</h2>
    <div ng-if="error" class="error-alert">{{ error }}</div>
    <form class="edit" novalidate>
        <textarea class="form-control" cols="100" rows="10" ng-model="article.body"></textarea>
        <br>
        Edit summary
        <input class="form-control" type="text" ng-model="article.summary">
        <br>
        <button class="btn btn-primary" ng-click="update(article)">Submit</button>
        <button class="btn alt small" ng-if="article.body" ng-click="viewArticle()">Back</button>
    </form>
</section>
