<form>
    <div class="row">
        <div class="six columns">
            <label for="email">Email</label>
            <input ng-model="email" class="form-control" type="email" name="email" placeholder="name@example.com">

            <label for="password">Password</label>
            <input ng-model="password" type="password" name="password" class="form-control" placeholder="**********">

            <br>
            <button class="btn" ng-click="login()">Login</button>
            <button class="btn">Register</button>
        </div>
    </div>
</form>
