h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin: 0 0 1.5em;
}

div.content {
    margin:1em;
    width:100%;
}

div.content > div {
    width:100%;
}

form.edit {
    width: 100%;
    height: 100%;
}

textarea {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

a.wikilink-new {
    color: red;
}

#loading-bar .bar {
  background: #2c3e50;
}

#loading-bar-spinner .spinner-icon {
  border-top-color:  #2c3e50;
  border-left-color: #2c3e50;
}

#loading-bar .peg {
  -moz-box-shadow: #2c3e50 1px 0 6px 1px;
  -ms-box-shadow: #2c3e50 1px 0 6px 1px;
  -webkit-box-shadow: #2c3e50 1px 0 6px 1px;
  box-shadow: #2c3e50 1px 0 6px 1px;
}

div.error-alert {
    padding: 5px;
    margin: 5px;
    border: 1px dotted red;
}
